<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="js/vue.min.js"></script>
    <script src="js/qrious.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <title></title>
  </head>

  <body>
    <div id="app">
      <h1>{{title}}</h1>
      <div>
        Details: <input
          type="text"
          size="25"
          placeholder=""
          v-model="text"
        />
      </div>
      <div>
        Size: <input
          type="text"
          size="25"
          placeholder=""
          v-model="size"
        />
      </div>

      <div v-if="text" class="output">
        <img :src="newQRCode" alt="QRCode" />
      </div>

      <div id="footer">
        <h3></h3>
      </div>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          title: "",
          text: "",
          size: "",
          level: "H",
          qrcode: new QRious({ size: 1000 }),
        },
        computed: {
          newQRCode() {
            this.qrcode.value = this.text;
            this.qrcode.size = this.size;
            this.qrcode.level = this.level;
            return this.qrcode.toDataURL();
          },
        },
      });
    </script>
  </body>
</html>
